{% extends 'base_layout.html' %}

{% block body %}
<div class="mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="touch">
                <div class="card text-left">
                    <div class="card-body">
                        <h5 class="text-center"> </h5>

                        <div class="container">

                            <div class="row">
                              <div class="col-12">

                                    <div class="view overlay zoom">
                                        <div class="col-xl-5 col-md-4 mb-3 text-center">

                                            <img src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.0-9/133861697_2734710886795097_2564277502854178018_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEFoa-6-Hp9HfqzpVV2pR8VRx65iY7uQFJHHrmJju5AUqejY-dUuygfrJ0RP9FIeG6tWvCV78JyTQVAxukQiDRr&_nc_ohc=pPF97gkAB0IAX-yVe6f&_nc_ht=scontent.fbkk22-1.fna&oh=3d697adcf9275dac48d5e5a6b91e36b2&oe=603BDE35" class="img-fluid z-depth-1 rounded-circle"
                                              alt="Responsive image">
                                              <br>
                                              <br>
                                              นางสาวณัฐนรี แดงสกุล รหัสนิสิต 62102010435
                                          </div>
                                    </div>
                              </div>
                                    
                           
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}